{% extends "menu.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
	<h2>Parametro precio</h2>
		<form method="get" action="/presupuestos/grupoparametroprecio/">
		<p><label for="id_q">Filtro:</label>
		<input type="text" name="q" id="id_q" value="{{ query }}" />
		<input type="submit" value="Buscar" /></p>
		</form>	
  <table class="table table-hover">
    <thead>
      <tr>
		<th></th>
		<th></th>		  
        <th>Matriz</th>
		<th>Grupo parámetro</th>
		<th>Tecnica</th>
		<th>Precio grupo</th>
		<th>Fecha de precio</th>	  
      </tr>
    </thead>
    <tbody>	 	
    {% for grupoparametroprecio in grupoparametroprecio_list %}
	<tr>
    	<td><a href="{% url "presupuestos:grupoparametroprecio_modificar" grupoparametroprecio.id %}" ><img src= "{% static "images/accion_modificar.png"%}" data-toggle="tooltip" data-placement="top" title="Modificar" alt= "Modificar"></a></td>
    	<td><a href="{% url "presupuestos:grupoparametroprecio_borrar" grupoparametroprecio.id %}"><img src= "{% static "images/accion_borrar.png"%}" data-toggle="tooltip" data-placement="top" title="Borrar" alt= "Borrar"></a></td>
		<td>{{ parametroprecio.matriz }}</td>
		<td>{{ parametroprecio.grupo_parametro }}</td>
		<td>{{ parametroprecio.tecnica }}</td>
		<td>{{ parametroprecio.precio_del_grupo }}</td>
		<td>{{ parametroprecio.fecha_de_precio }}</td>
	</tr>
    {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="/presupuestos/grupoparametroprecio?q={{query}}&page={{ page_obj.previous_page_number }}">anterior</a>
              {% endif %}
              <span class="page-current">
                  Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="/presupuestos/grupoparametroprecio?q={{query}}&page={{ page_obj.next_page_number }}">siguiente</a>
              {% endif %}
          </span>
      </div>
  {% endif %}	
</div>	
<a href="{% url "presupuestos:grupoparametroprecio_crear"  %}"><img src= "{% static "images/accion_alta.png"%}" data-toggle="tooltip" data-placement="top" title="Agregar" alt="Agregar"></a>
{% endblock content %}