{% extends "base.html" %}
{% block content %}
<h1>Presupuestos</h1>
<ul>
	<li><b>Referencia, Descripcion, Cliente</b></li>
    {% for presupuesto in presupuesto_list %}
    <li>{{ presupuesto.referencia}}- 
    {{presupuesto.descripcion}}-
    {{presupuesto.cliente}}-  :  
    <a href="{% url "presupuestos:presupuesto_modificar" presupuesto.id %}">modificar {{ presupuesto.contacto_apellido }}</a>
    <a href="{% url "presupuestos:presupuesto_borrar" presupuesto.id %}">borrar</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "presupuestos:presupuesto_crear"  %}">Nuevo</a>
{% endblock content %}