{% extends "menu.html" %}
{% block content %}
<h1>Referencia: {{ presupuesto.referencia}}</h1>

<p>Cliente: {{presupuesto.cliente.empresa}}</p>
<p>Contacto: {{presupuesto.cliente}}</p>
<p>Referencia clave: {{presupuesto.referencia_clave}}</p>
<p>Referencia: {{presupuesto.referencia}}</p>
<p>Tipo: {{presupuesto.tipo}}</p>
<p>Fecha de solicitud: {{presupuesto.fecha_de_solicitud}}</p>
<p>Fecha de aprobacion: {{presupuesto.fecha_de_aprobacion}}</p>
<p>Fecha de vencimiento: {{presupuesto.fecha_de_vencimiento}}</p>
<p>Descripcion: {{presupuesto.descripcion}}</p>
<p>Estado: {{presupuesto.estado}}</p>
<p>Observacion: {{presupuesto.observacion}}</p>
<a href="{% url "presupuestos:presupuesto_listar"  %}">Presupuestos</a>
{% endblock content %}